[DataBase]
db_name=
db_host=
db_port=
db_user=
db_pass=
[PIPELINE]
name=
version=
message=
[OSID]
url=
user=
pass=
[FILE]
input_gff=
output_gff=
event=
allowed_gene_models=
allowed_bio_types=
[ProductionOrganism]
name=
database=
